<section class="apropos">
  <h1 id="title">A propos de UIB</h1>
  <div class="up">
    <div class="left">
      <span>L'Union internationale de banques </span>
      <p>
        UIB est une banque commerciale tunisienne à capitaux privés. L'UIB
        compte plus de 130 agences réparties sur le territoire dont une
        trentaine dans la région du Grand Tunis.
      </p>
    </div>
    <div class="right">
      <img src="../../assets/bankk.svg" style="width: 500px" />
    </div>
  </div>
  <div class="down">
    <span>UIB, application disponible sur tous les stores.</span>
    <p>
      UIB est disponible gratuitement sur tous les stores : App store, google
      playstore et HUAWEI AppGallery.
    </p>
    <div class="buttons">
      <button class="button-87" role="button" style="width: 150px">
        <!--(click)="move('/user/signIn')"-->
        <i
          class="bi bi-apple"
          style="font-size: 1.4em; padding-right: 0.5px"
        ></i>
        App Store
      </button>
      <button class="button-87" role="button" style="width: 150px">
        <!--(click)="move('/user/signIn')"-->
        <i
          class="bi bi-google-play"
          style="font-size: 1.4em; padding-right: 0.5px"
        ></i>
        Google Play
      </button>
      <button class="button-87" role="button" style="width: 150px">
        <!--(click)="move('/user/signIn')"-->
        <i
          class="bi bi-phone-fill"
          style="font-size: 1.4em; padding-right: 0.5px"
        ></i>
        Huawei App
      </button>
    </div>
  </div>
</section>
