<section class="footer">
  <div class="container">
    <div class="description">
      <img src="../../assets/logo1.gif" style="width: 55px; height: 50px" />
      <img src="../../assets/logo2.gif" style="width: 150px; height: 50px" />
      <p>
        UIB est disponible via web pour vous permettre un ensemble de services.
      </p>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-bootstrap-fill"></i>
    </div>
    <div class="essentials">
      <h1>Les essentiels</h1>
      <li><a href=""> Accueil </a></li>
      <li><a href=""> A propos </a></li>
      <li><a href=""> Nos Avantages </a></li>
      <li><a href=""> Nos services </a></li>
    </div>
    <div class="questions">
      <h1>Des questions?</h1>
      <li><a href=""> Aide</a></li>
      <li><a href=""> Tarifs </a></li>
      <li><a href=""> Contact </a></li>
      <li><a href=""> Contrat </a></li>
    </div>

    <div class="contact">
      <h1>Contact</h1>
      <li>Adresse: Rue Hédi Nouira -1030 Tunis, Tunisie</li>
      <li>Email: brc@banque.tn</li>
      <li>Téléphone: +(216) 71 717 717</li>
      <li>Fax: +(216) 71 171 171</li>
    </div>
  </div>
  <hr />
  <p id="copyright">Copyright @2022 UIB. Tous les droits sont réservés</p>
</section>
