<app-navbar></app-navbar>
<div class="contact">
  <div class="leftcontact">
    <p style="display: inline-block">
      <img src="../../assets/location.svg" style="width: 60px; padding: 15px" />

      22 Avenue Des Etats Unis Tunis 1002 Av. Des Etats Unis
    </p>
    <br />
    <p style="display: inline-block">
      <img src="../../assets/email.svg" style="width: 60px; padding: 15px" />
      info@example.com
    </p>
    <br />
    <p style="display: inline-block">
      <img src="../../assets/phone.svg" style="width: 60px; padding: 15px" />
      +216 58 065 605
    </p>
  </div>

  <div class="rightcontact">
    <div>
      <input type="text" placeholder="  Your Name" />
    </div>
    <div>
      <input type="email" placeholder="  Your Email" />
    </div>

    <div>
      <input type="text" placeholder="  Subject" />
    </div>
    <textarea cols="30" rows="10" placeholder="  Message"></textarea>
    <button class="button-87" style="justify-self: center" role="button">
      Send
    </button>
  </div>
</div>
<app-footer></app-footer>
