<div class="container-about">
  <div class="one">
    <img src="../../assets/2.svg" style="width: 70%; padding-top: 10px" />
    <h1>Ouvrir un Compte bancaire via le web ou votre mobile</h1>
    <p>UIB vous permet d'ouvrir en ligne un compte courant bancaire.</p>
  </div>
  <div class="two">
    <img
      src="../../assets/Untitled.svg"
      style="width: 70%; padding-top: 10px"
    />
    <h1>Suivre votre compte bancaire</h1>
    <p>
      A travers UIB, vous pouvez consulter le solde de votre compte en temps
      réel et télécharger en toute simplicité et gratuitement votre extrait de
      compte.
    </p>
  </div>
  <div class="three">
    <img src="../../assets/3.svg" style="width: 70%; padding-top: 10px" />
    <h1>Ordonner des transactions sur votre Compte Postal</h1>
    <p>
      UIB vous permet d’ordonner en ligne des transactions sur votre compte.
    </p>
  </div>
</div>
