<div class="list-unstyled divbar1">
  <div class="logo">
    <img src="../../assets/logo1.gif" style="width: 55px" />
    <img src="../../assets/logo2.gif" style="width: 150px" />
  </div>
  <div class="divbar1-items-container">
    <span class="list-unstyled divItem2"> <a href="#home">Accueil</a></span>
    <span class="list-unstyled divItem2"> <a href="#apropos">A propos</a></span>
    <span class="list-unstyled divItem2">
      <a href="#service">Nos services</a>
    </span>
    <span class="list-unstyled divItem2"> <a href="#contact">Contact</a></span>

    <button
      class="button-87"
      role="button"
      style="width: 170px; height: 40px; border-radius: 10px"
      (click)="onSubmitOne()"
    >
      <i
        class="bi bi-person-plus-fill"
        style="font-size: 1.4em; padding-right: 0.5px"
      ></i>
      S'abonner
    </button>

    <button
      class="button-87"
      role="button"
      style="width: 170px; height: 40px; border-radius: 10px"
      (click)="onSubmitTwo()"
    >
      <i
        class="bi bi-person-fill"
        style="font-size: 1.4em; padding-right: 0.5px"
      ></i>
      Mon compte
    </button>
  </div>
</div>
