<section class="compte">
  <div class="left">
    <img
      src="../../assets/autreessai.PNG"
      style="width: 600px; border-radius: 30px"
    />
  </div>
  <div class="right">
    <h1>Ouvrir un compte bancaire UIB</h1>
    <p>
      UIB permet de procéder à l’ouverture d'un compte bancaire en ligne en
      toute sécurité et aisance à travers un échange totalement numérique et
      avec la célérité requise.
    </p>
    <div class="columns">
      <div class="column-1">
        <p>
          <i
            class="bi bi-1-square-fill"
            style="padding-right: 5px; font-size: 20px; color: #e81a41"
          ></i
          >Choisir le type de compte
        </p>
        <p>
          <i
            class="bi bi-2-square-fill"
            style="padding-right: 5px; font-size: 20px; color: #e81a41"
          ></i
          >Remplir la fiche Client
        </p>
        <p>
          <i
            class="bi bi-3-square-fill"
            style="padding-right: 5px; font-size: 20px; color: #e81a41"
          ></i
          >Prendre un rendez vous avec un conseiller Client
        </p>
      </div>
      <div class="column-2">
        <p>
          <i
            class="bi bi-4-square-fill"
            style="padding-right: 5px; font-size: 20px; color: #e81a41"
          ></i
          >Remplir vos informations personnelles
        </p>
        <p>
          <i
            class="bi bi-5-square-fill"
            style="padding-right: 5px; font-size: 20px; color: #e81a41"
          ></i
          >Télécharger vos documents
        </p>
        <p>
          <i
            class="bi bi-6-square-fill"
            style="padding-right: 5px; font-size: 20px; color: #e81a41"
          ></i
          >Consulter le résumé de votre demande
        </p>
      </div>
    </div>
    <button
      class="button-87"
      style="width: 200px; height: 40px; border-radius: 5px"
    >
      Ouvrir un compte
    </button>
  </div>
</section>
