<div class="section-background">
  <section class="services">
    <div class="introduction">
      <h1>Les services offerts via UIB</h1>
      <p>
        UIB permet aux clients de la banque une panoplie de services variés 100%
        digital.
      </p>
    </div>
    <div class="boxes">
      <div class="box-up">
        <div class="box-1">
          <i
            class="bi bi-person-fill"
            style="color: #e81a41; font-size: 2.2em"
          ></i>
          <h1>Comptes</h1>
          <p>
            L'ouverture d’un Compte et la consultation du solde et de l’extrait.
          </p>
        </div>
        <div class="box-2">
          <i
            class="bi bi-credit-card-fill"
            style="color: #e81a41; font-size: 2em"
          ></i>
          <h1>Cartes</h1>
          <p>La demande et la gestion des cartes liées aux comptes postaux.</p>
        </div>
        <div class="box-3">
          <i
            class="bi bi-wallet-fill"
            style="color: #e81a41; font-size: 2em"
          ></i>
          <h1>Chéques</h1>
          <p>La demande des carnets de chèques et le suivi de la demande.</p>
        </div>
      </div>
      <div class="box-down">
        <div class="box-4">
          <i
            class="bi bi-airplane-fill"
            style="color: #e81a41; font-size: 2.1em"
          ></i>
          <h1>Virements</h1>
          <p>L’exécution des ordres de virement sur les comptes postaux.</p>
        </div>
        <div class="box-5">
          <i
            class="bi bi-wallet-fill"
            style="color: #e81a41; font-size: 2.2em"
          ></i>
          <h1>Placements</h1>
          <p>
            La passation d’ordre de rachat et de souscription sur le
            portefeuille titre SICAV.
          </p>
        </div>
        <div class="box-6">
          <i
            class="bi bi-envelope-paper-fill"
            style="color: #e81a41; font-size: 2em"
          ></i>
          <h1>Abonnements</h1>
          <p>
            La souscription en ligne au services complémentaires annexes au
            compte.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
