<app-navbar></app-navbar>
<div class="container">
  <div class="left">
    <h1>UIB encore plus proche</h1>
    <p>
      UIB met à la disposition de sa clientèle un ensemble de services en ligne.
    </p>
  </div>
  <div class="right">
    <img
      class="zoom-in-zoom-out"
      src="../../assets/uib.jpg"
      style="width: 70%"
    />
  </div>
</div>

<app-about-us></app-about-us>
<app-question></app-question>
<app-apropos></app-apropos>
<app-services></app-services>
<app-compte></app-compte>
<app-separation></app-separation>
<app-footer></app-footer>
